SANITIZED_Wazuh-Daily-Analysis-Reporting.json
{
  "name": "Wazuh Daily Analysis & Reporting (FIXED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Schedule every 4 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "fetch-node",
      "name": "Fetch Alerts (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Group alerts by agent + rule\nconst items = $input.all();\n\nconst grouped = {};\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.agent_name || 'unknown'}_${d.rule_id || 'unknown'}`;\n\n  if (!grouped[key]) {\n    grouped[key] = {\n      agent_name: d.agent_name,\n      rule_id: d.rule_id,\n      alerts: [],\n      count: 0\n    };\n  }\n\n  grouped[key].alerts.push(d);\n  grouped[key].count++;\n}\n\nreturn Object.values(grouped).map(g => ({ json: g }));"
      },
      "id": "group-node",
      "name": "Group Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these alerts: {{$json.count}} events\"\n    }\n  ]\n}"
      },
      "id": "ai-node",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'Report generated', input: $input.all() } }];"
      },
      "id": "report-node",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Schedule every 4 hours": {
      "main": [[{ "node": "Fetch Alerts (Mock)", "type": "main", "index": 0 }]]
    },
    "Fetch Alerts (Mock)": {
      "main": [[{ "node": "Group Alerts", "type": "main", "index": 0 }]]
    },
    "Group Alerts": {
      "main": [[{ "node": "AI Analysis", "type": "main", "index": 0 }]]
    },
    "AI Analysis": {
      "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "meta": {}
}