SANITIZED_Wazuh-Alert-Collection.json
{
  "name": "Wazuh Alert Collection (FIXED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Run every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://your-wazuh-api:55000/security/alerts",
        "authentication": "none"
      },
      "id": "fetch-alerts",
      "name": "Fetch Wazuh Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Wazuh alerts\nconst items = $input.all();\n\nreturn items.map(item => {\n  const alert = item.json;\n\n  return {\n    json: {\n      agent_name: alert.agent?.name,\n      agent_ip: alert.agent?.ip,\n      rule_id: alert.rule?.id,\n      rule_level: alert.rule?.level,\n      rule_description: alert.rule?.description,\n      timestamp: alert.timestamp,\n      raw: alert\n    }\n  };\n});"
      },
      "id": "normalize-node",
      "name": "Normalize Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "fileName": "wazuh_alerts.json"
      },
      "id": "save-node",
      "name": "Save Alerts (optional)",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Run every 5 minutes": {
      "main": [[{ "node": "Fetch Wazuh Alerts", "type": "main", "index": 0 }]]
    },
    "Fetch Wazuh Alerts": {
      "main": [[{ "node": "Normalize Alerts", "type": "main", "index": 0 }]]
    },
    "Normalize Alerts": {
      "main": [[{ "node": "Save Alerts (optional)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "meta": {}
}